.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black; /* Adjust as needed */
}

.nav-left {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
